---
- name: add this instance to cluster
  delegate_to: 'localhost'
  delegate_facts: true
  set_fact:
    cluster: "{{ hostvars['localhost'].cluster }},{{ inventory_hostname }}=https://{{ etcd_ip }}:2380"
- name: debug cluster
  debug:
    msg: '{{ hostvars["localhost"].cluster }}'
- name: run add command
  delegate_to: '{{ hostvars["localhost"]["etcd_main"] }}'
  command: '/opt/etcd/bin/etcdctl --cacert /etc/etcd/pki/ca.crt --key /etc/etcd/pki/etcd.key --cert /etc/etcd/pki/etcd.crt --endpoints https://{{ hostvars[ hostvars["localhost"]["etcd_main"] ].etcd_ip }}:2379 member add {{inventory_hostname}} --peer-urls=https://{{etcd_ip}}:2380'
- name: install
  include_role:
    name: install
- name: wait for the instance to appear in list
  import_tasks: wait.yaml
  until: new_members_ok is mapping
  retries: 5
  delay: 10
- debug:
    var: new_members_ok
