---
- name: get ip
  shell: |
    set -e -o pipefail
    ip -f inet addr show eth0 | sed -En -e 's/.*inet ([0-9.]+).*/\1/p'
  changed_when: false
  register: private_ip

- name: get services
  service_facts:

- name: test etcd is running
  assert:
    that: ansible_facts.services["etcd.service"].state == 'running'

- name: insert value
  command: /opt/etcd/bin/etcdctl --cacert /etc/etcd/pki/ca.crt --cert /etc/etcd/pki/etcd.crt --key /etc/etcd/pki/etcd.key --endpoints={{ private_ip.stdout }}:2379 put test value
  changed_when: false

- name: get value
  command: /opt/etcd/bin/etcdctl --cacert /etc/etcd/pki/ca.crt --cert /etc/etcd/pki/etcd.crt --key /etc/etcd/pki/etcd.key --endpoints={{ private_ip.stdout }}:2379 get test
  changed_when: false
  register: value

- name: assert
  assert:
    that: value.stdout_lines[1] == 'value'
